body{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;

}

.popular-boards-tiles-container{
    width: 100%;
}

.popular-boards-tiles{
    margin: auto;
    width: 722px;
    height: 250px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid grey;
    background-color: lavender;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
}

.board-item {
    flex-grow: 1;
    background-color: #ff90d8;
    border: 5px solid lavender;
    box-sizing: border-box;
}

.big-tile{
    height: 100%;
    width: 33%;
}

.medium-tile{
    width: 33%;
    height: 50%;
}

.small-tile{
    height: 50%;
    width: 17%;
}

@media screen and (max-width: 722px){
    .popular-boards-tiles{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .popular-boards-tiles .board-item{
        width: 25%;
    }
}

@media screen and (max-width: 250px){
    .popular-boards-tiles{
        /*flex-direction: row;*/
    }

    .popular-boards-tiles .board-item{
        width: auto;
        height: auto;
    }
}