body{
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;

}
.wrapper{
    width: 722px;
    height: 250px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid grey;
    background-color: lavender;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.cell{
    background-color: #ff90d8;
    border: 5px solid lavender;
}

.cell-level-1{
    flex-grow: 1;
}

.parent-cell-level-1{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.parent-cell-level-2{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.cell-level-2{
    flex-grow: 1;
}

.cell-level-2:first-child{
    flex-grow: 2;
}

@media screen and (max-width: 450px){
    .cell-level-2{
        flex-basis: 100px;
    }
}

@media screen and (max-width: 200px){
    .wrapper{
        flex-direction: column;
    }
    .parent-cell-level-1{
        flex-grow: 5;
    }
}

@media screen and (max-height: 250px){
    .wrapper{
        height: 100%;
    }
}